.communities {
  .card {
    display: block;
    padding: 4px;
    margin-bottom: 22px;
    line-height: 1.6;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border;

    .card-img {

      img {

      }
    }

    .card-body {
      .card-title {

      }
      .card-footer {

      }
    }
  }
}