.communities {
  .page-header {
    margin-top: 10px;
  }
  .card {
    display: block;
    padding: 0px;
    margin-bottom: 22px;
    line-height: 1.6;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border;

    .card-preview {
      position: relative;
      display: block;
      img {

      }
      .card-title {
        position: absolute;
        background-color: transparentize(black, .5);
        display: table;
        width: 100%;
        margin: 0px;
        bottom: 0;
        padding: 5px 5px;
      }

      .property-count {
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }

    .card-body {
      padding: 5px 5px;
    }

    .card-footer {
      padding: 5px 5px;
      border-top: 1px solid #ddd;
      -webkit-transition: border .2s ease-in-out;
    }
  }
  [hidden] {
    display: none !important;
  }
}