h2.page-header {
  margin-top: 20px;
}

.nav {
  &.admin-nav {
    background-color: #ffffff;
    border: 1px solid $panel-default-border;
    border-radius: 4px;
    margin-bottom: 20px;
    li {
      float: left;

      a {
        border-right: 1px solid $panel-default-border;
        padding: 5px 15px;
      }
    }
  }
}

.alert {
  &.alert-sm {
    padding: 5px 10px;
    margin-bottom: 0;
  }
}

form {
  .form-control[readonly] {
    background-color: #fbfbfb;
    cursor: not-allowed;
  }
}
